## Read in Oscar CSV back into Dataframe

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [10]:
oscars_df = pd.read_csv('oscar_movies.csv')

In [11]:
oscars_df.describe()

         Unnamed: 0  metacritic score        budget
count   1151.000000        908.000000  7.530000e+02
mean    3324.099913         73.624449  3.730523e+07
std     6203.808878         12.585975  4.497883e+07
min        0.000000         25.000000  6.000000e+04
25%      287.500000         65.750000  1.000000e+07
50%      575.000000         75.000000  2.200000e+07
75%     1770.500000         83.000000  4.300000e+07
max    26130.000000        100.000000  3.210000e+08

In [19]:
oscars_df.drop(columns = ['Unnamed: 0'],inplace=True)

In [20]:
def clean_columns(column):
    oscars_df[column] = oscars_df[column].str.strip('[]').astype(str)
    return oscars_df

In [21]:
def remove_quotation(column):
    oscars_df[column]= oscars_df[column].str.strip()
    oscars_df[column]= oscars_df[column].str.strip("''")
    return oscars_df

In [22]:
clean_columns('writer(s)')
clean_columns('director(s)')
clean_columns('casts')
clean_columns('genre(s)')

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany
0,tt0091763,Platoon,'Oliver Stone','Oliver Stone',"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures
1,tt0082979,Reds,'Warren Beatty',"'Warren Beatty', 'Trevor Griffiths'","'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures
2,tt0084434,An Officer and a Gentleman,'Taylor Hackford','Douglas Day Stewart',"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures
3,tt0119360,In & Out,'Frank Oz','Paul Rudnick',"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures
4,tt0292542,Son of the Bride,'Juan José Campanella',"'Juan José Campanella', 'Fernando Castets'","'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,tt0305206,American Splendor,"'Shari Springer Berman', 'Robert Pulcini'","'Harvey Pekar', 'Joyce Brabner', '2 more credits'","'Paul Giamatti', 'Shari Springer Berman', 'Har...","'Biography', 'Comedy', 'Drama'",English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films
1147,tt0095800,The Bear,'Jean-Jacques Annaud',"'James Oliver Curwood', 'Gérard Brach'","'Tchéky Karyo', 'Bart the Bear', 'Youk the Bear'","'Adventure', 'Family', 'Drama'",English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures
1148,tt1286537,"Food, Inc.",'Robert Kenner',"'Robert Kenner', 'Elise Pearlstein', '1 more c...","'Michael Pollan', 'Eric Schlosser', 'Richard L...","'Documentary', 'News'",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,"'Zana Briski', 'Ross Kauffman'","'Zana Briski', 'Ross Kauffman'","'Kochi', 'Avijit Halder', 'Shanti Das'","'Documentary', 'Biography', 'News'",Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films
1150,tt2922078,La lampe au beurre de yak,'Wei Hu','Wei Hu',"'Genden Phuntsok', 'Soepha', 'Sonam Gonpo'","'Short', 'Family'",Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai

In [23]:
oscars_df.head()

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany
0,tt0091763,Platoon,'Oliver Stone','Oliver Stone',"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures
1,tt0082979,Reds,'Warren Beatty',"'Warren Beatty', 'Trevor Griffiths'","'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures
2,tt0084434,An Officer and a Gentleman,'Taylor Hackford','Douglas Day Stewart',"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures
3,tt0119360,In & Out,'Frank Oz','Paul Rudnick',"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures
4,tt0292542,Son of the Bride,'Juan José Campanella',"'Juan José Campanella', 'Fernando Castets'","'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics

Split the writers columns and explore how many writers are in each new column

In [24]:
oscars_df[['writers1','writers2','writers3']] = oscars_df['writer(s)'].apply(lambda x: pd.Series(x.split(',')))

In [25]:
oscars_df.tail()

,IMDBId,movie title,director(s),writer(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,writers3
1146,tt0305206,American Splendor,"'Shari Springer Berman', 'Robert Pulcini'","'Harvey Pekar', 'Joyce Brabner', '2 more credits'","'Paul Giamatti', 'Shari Springer Berman', 'Har...","'Biography', 'Comedy', 'Drama'",English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films,'Harvey Pekar','Joyce Brabner','2 more credits'
1147,tt0095800,The Bear,'Jean-Jacques Annaud',"'James Oliver Curwood', 'Gérard Brach'","'Tchéky Karyo', 'Bart the Bear', 'Youk the Bear'","'Adventure', 'Family', 'Drama'",English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures,'James Oliver Curwood','Gérard Brach',NaN
1148,tt1286537,"Food, Inc.",'Robert Kenner',"'Robert Kenner', 'Elise Pearlstein', '1 more c...","'Michael Pollan', 'Eric Schlosser', 'Richard L...","'Documentary', 'News'",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures,'Robert Kenner','Elise Pearlstein','1 more credit'
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,"'Zana Briski', 'Ross Kauffman'","'Zana Briski', 'Ross Kauffman'","'Kochi', 'Avijit Halder', 'Shanti Das'","'Documentary', 'Biography', 'News'",Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films,'Zana Briski','Ross Kauffman',NaN
1150,tt2922078,La lampe au beurre de yak,'Wei Hu','Wei Hu',"'Genden Phuntsok', 'Soepha', 'Sonam Gonpo'","'Short', 'Family'",Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai,'Wei Hu',NaN,NaN

In [26]:
#Writers one should have the same number of writers as length of data frame
oscars_df['writers1'].count()

1151

In [27]:
#Writers 2 should have less
oscars_df['writers2'].count()

832

In [28]:
#Writers 3 should have less
oscars_df['writers3'].count()

434

In [29]:
oscars_df['writers3'].value_counts()

 '1 more credit'      218
 '2 more credits'     117
 '3 more credits'      57
 '4 more credits'      18
 '6 more credits'       7
 '5 more credits'       6
 '7 more credits'       4
 '24 more credits'      2
 '14 more credits'      1
 '8 more credits'       1
 '27 more credits'      1
 '18 more credits'      1
 '9 more credits'       1
Name: writers3, dtype: int64

### The third writers column is not telling us who wrote for the movie so that column will be dropped

In [30]:
oscars_df.drop(['writer(s)','writers3'], axis=1,inplace=True)

In [31]:
remove_quotation('writers1')
remove_quotation('writers2')

,IMDBId,movie title,director(s),casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2
0,tt0091763,Platoon,'Oliver Stone',"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN
1,tt0082979,Reds,'Warren Beatty',"'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths
2,tt0084434,An Officer and a Gentleman,'Taylor Hackford',"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN
3,tt0119360,In & Out,'Frank Oz',"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN
4,tt0292542,Son of the Bride,'Juan José Campanella',"'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,tt0305206,American Splendor,"'Shari Springer Berman', 'Robert Pulcini'","'Paul Giamatti', 'Shari Springer Berman', 'Har...","'Biography', 'Comedy', 'Drama'",English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films,Harvey Pekar,Joyce Brabner
1147,tt0095800,The Bear,'Jean-Jacques Annaud',"'Tchéky Karyo', 'Bart the Bear', 'Youk the Bear'","'Adventure', 'Family', 'Drama'",English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures,James Oliver Curwood,Gérard Brach
1148,tt1286537,"Food, Inc.",'Robert Kenner',"'Michael Pollan', 'Eric Schlosser', 'Richard L...","'Documentary', 'News'",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures,Robert Kenner,Elise Pearlstein
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,"'Zana Briski', 'Ross Kauffman'","'Kochi', 'Avijit Halder', 'Shanti Das'","'Documentary', 'Biography', 'News'",Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films,Zana Briski,Ross Kauffman
1150,tt2922078,La lampe au beurre de yak,'Wei Hu',"'Genden Phuntsok', 'Soepha', 'Sonam Gonpo'","'Short', 'Family'",Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai,Wei Hu,NaN

### Now I will split and explore directors

In [34]:
oscars_df[['director1','director2','director3']] = oscars_df['director(s)'].apply(lambda x: pd.Series(x.split(',')))

In [35]:
oscars_df['director1'].count()

1151

In [36]:
oscars_df['director2'].count()

66

In [37]:
oscars_df['director2'].value_counts()

 'Joel Coen'               4
 'John Musker'             3
 'Ethan Coen'              3
 'Alain Gagnol'            1
 'Wilbert Rideau'          1
 'Gail Lerner'             1
 'Dana Adam Shapiro'       1
 'Ross Kauffman'           1
 'Ljubomir Stefanov'       1
 'Lilly Wachowski'         1
 'Valerie Faris'           1
 'John Cleese'             1
 'Nora Twomey'             1
 'Mihal Brezis'            1
 'Massimo Troisi'          1
 'Lorna Cook'              1
 'Chris Renaud'            1
 'Arvid Uibel'             1
 'Paul Wagner'             1
 'Barna Kabay'             1
 'Robert Pulcini'          1
 'Kátia Lund'              1
 'Bentley Dean'            1
 'Bob Peterson'            1
 'Jeff Newitt'             1
 'Judith Montell'          1
 'Yaron Shani'             1
 'Laura Obiols'            1
 'Hiromasa Yonebayashi'    1
 'Rob Minkoff'             1
 'Chris Williams'          1
 'Adrian Molina'           1
 'Gary Goldman'            1
 'Rick Goldsmith'          1
 'Kirk Wise'               1
 'Joe Russo'               1
 'Espen Sandberg'          1
 'Marjane Satrapi'         1
 'Fengliang Yang'          1
 'Alison Snowden'          1
 'William A. Whiteford'    1
 'Lou Hamou-Lhadj'         1
 'Hervé de Crécy'          1
 'Jacques Cluzaud'         1
 'Wash Westmoreland'       1
 'Walt Dohrn'              1
 'Joe Ranft'               1
 'Robert Walker'           1
 'Jeff McGrath'            1
 'Roger Gould'             1
 'Juan Carlos Tabío'       1
 'Lee Unkrich'             1
 'Michel Debats'           1
 'Loveleen Tandan'         1
 'Hugh Welchman'           1
 'Paul Weitz'              1
 'Justine Shapiro'         1
 'Luc Dardenne'            1
 'Max Lang'                1
Name: director2, dtype: int64

In [39]:
oscars_df['director3'].count()

6

#### With the count of directors being so low I will drop the column and rename directors 1 to director

In [40]:
oscars_df.drop(['director(s)','director2','director3'], axis=1,inplace=True)

In [41]:
oscars_df.head()

,IMDBId,movie title,casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director1
0,tt0091763,Platoon,"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,'Oliver Stone'
1,tt0082979,Reds,"'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,'Warren Beatty'
2,tt0084434,An Officer and a Gentleman,"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,'Taylor Hackford'
3,tt0119360,In & Out,"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,'Frank Oz'
4,tt0292542,Son of the Bride,"'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,'Juan José Campanella'

In [42]:
oscars_df.rename(columns={"director1": "director"},inplace=True)

In [43]:
remove_quotation('director')

,IMDBId,movie title,casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director
0,tt0091763,Platoon,"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,Oliver Stone
1,tt0082979,Reds,"'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,Warren Beatty
2,tt0084434,An Officer and a Gentleman,"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,Taylor Hackford
3,tt0119360,In & Out,"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,Frank Oz
4,tt0292542,Son of the Bride,"'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,Juan José Campanella
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,tt0305206,American Splendor,"'Paul Giamatti', 'Shari Springer Berman', 'Har...","'Biography', 'Comedy', 'Drama'",English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films,Harvey Pekar,Joyce Brabner,Shari Springer Berman
1147,tt0095800,The Bear,"'Tchéky Karyo', 'Bart the Bear', 'Youk the Bear'","'Adventure', 'Family', 'Drama'",English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures,James Oliver Curwood,Gérard Brach,Jean-Jacques Annaud
1148,tt1286537,"Food, Inc.","'Michael Pollan', 'Eric Schlosser', 'Richard L...","'Documentary', 'News'",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures,Robert Kenner,Elise Pearlstein,Robert Kenner
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,"'Kochi', 'Avijit Halder', 'Shanti Das'","'Documentary', 'Biography', 'News'",Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films,Zana Briski,Ross Kauffman,Zana Briski
1150,tt2922078,La lampe au beurre de yak,"'Genden Phuntsok', 'Soepha', 'Sonam Gonpo'","'Short', 'Family'",Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai,Wei Hu,NaN,Wei Hu

In [44]:
oscars_df['director']

0                Oliver Stone
1               Warren Beatty
2             Taylor Hackford
3                    Frank Oz
4        Juan José Campanella
                ...
1146    Shari Springer Berman
1147      Jean-Jacques Annaud
1148            Robert Kenner
1149              Zana Briski
1150                   Wei Hu
Name: director, Length: 1151, dtype: object

#### I will now explore split the cast and explore

In [45]:
oscars_df[['Lead_Actor','Supporting_Actor_1','Supporting_Actor_2']] = oscars_df['casts'].apply(lambda x: pd.Series(x.split(',')))

In [46]:
oscars_df['Lead_Actor'].value_counts()

'Tom Hanks'               16
'Meryl Streep'            15
'Leonardo DiCaprio'       12
'Robert De Niro'          10
'Denzel Washington'        9
                          ..
'Debra Christofferson'     1
'Masahiro Motoki'          1
'Ed Harris'                1
'Moishe Bar Am'            1
'James McAvoy'             1
Name: Lead_Actor, Length: 743, dtype: int64

In [47]:
oscars_df['Lead_Actor'].count()

1151

In [48]:
oscars_df['Supporting_Actor_1'].value_counts()

 'Meryl Streep'       8
 'Kate Winslet'       7
 'Matt Damon'         6
 'Ed Harris'          6
 'Glenn Close'        5
                     ..
 'Hugh Jackman'       1
 'Rene Bitorajac'     1
 'Steve Carell'       1
 'Edward Clements'    1
 'Tom Conti'          1
Name: Supporting_Actor_1, Length: 886, dtype: int64

In [49]:
oscars_df['Supporting_Actor_1'].count()

1151

In [50]:
oscars_df['Supporting_Actor_2'].value_counts()

 'Ed Harris'              5
 'Christopher Plummer'    5
 'Willem Dafoe'           5
 'Michael Caine'          4
 'Tom Wilkinson'          4
                         ..
 'Barry Miller'           1
 'Woody Allen'            1
 'Bob Gunton'             1
 'Carmen Ejogo'           1
 'Jay O. Sanders'         1
Name: Supporting_Actor_2, Length: 986, dtype: int64

In [51]:
oscars_df['Supporting_Actor_2'].count()

1137

In [52]:
remove_quotation('Lead_Actor')
remove_quotation('Supporting_Actor_1')
remove_quotation('Supporting_Actor_2')

,IMDBId,movie title,casts,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2
0,tt0091763,Platoon,"'Charlie Sheen', 'Tom Berenger', 'Willem Dafoe'","'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe
1,tt0082979,Reds,"'Warren Beatty', 'Diane Keaton', 'Edward Herrm...","'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann
2,tt0084434,An Officer and a Gentleman,"'Richard Gere', 'Debra Winger', 'David Keith'","'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,Taylor Hackford,Richard Gere,Debra Winger,David Keith
3,tt0119360,In & Out,"'Kevin Kline', 'Joan Cusack', 'Tom Selleck'","'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck
4,tt0292542,Son of the Bride,"'Ricardo Darín', 'Héctor Alterio', 'Norma Alea...","'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,tt0305206,American Splendor,"'Paul Giamatti', 'Shari Springer Berman', 'Har...","'Biography', 'Comedy', 'Drama'",English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films,Harvey Pekar,Joyce Brabner,Shari Springer Berman,Paul Giamatti,Shari Springer Berman,Harvey Pekar
1147,tt0095800,The Bear,"'Tchéky Karyo', 'Bart the Bear', 'Youk the Bear'","'Adventure', 'Family', 'Drama'",English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures,James Oliver Curwood,Gérard Brach,Jean-Jacques Annaud,Tchéky Karyo,Bart the Bear,Youk the Bear
1148,tt1286537,"Food, Inc.","'Michael Pollan', 'Eric Schlosser', 'Richard L...","'Documentary', 'News'",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures,Robert Kenner,Elise Pearlstein,Robert Kenner,Michael Pollan,Eric Schlosser,Richard Lobb
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,"'Kochi', 'Avijit Halder', 'Shanti Das'","'Documentary', 'Biography', 'News'",Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films,Zana Briski,Ross Kauffman,Zana Briski,Kochi,Avijit Halder,Shanti Das
1150,tt2922078,La lampe au beurre de yak,"'Genden Phuntsok', 'Soepha', 'Sonam Gonpo'","'Short', 'Family'",Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai,Wei Hu,NaN,Wei Hu,Genden Phuntsok,Soepha,Sonam Gonpo

In [53]:
oscars_df.drop(['casts'], axis=1,inplace=True)

### Explore genre

In [55]:
oscars_df[['genre','subgenre1','subgenre2','subgenre3','sungenre4','subgenre5','subgenre6','subgenre7']] = oscars_df['genre(s)'].apply(lambda x: pd.Series(x.split(',')))

In [56]:
oscars_df.head()

,IMDBId,movie title,genre(s),language,country,runtime (mins),mpaarating,release date,metacritic score,budget,...,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,sungenre4,subgenre5,subgenre6,subgenre7
0,tt0091763,Platoon,"'Drama', 'War'",English,USA,2h,R,6 February 1987,92.0,6000000.0,...,Tom Berenger,Willem Dafoe,'Drama','War',NaN,NaN,NaN,NaN,NaN,NaN
1,tt0082979,Reds,"'Biography', 'Drama', 'History', 'Romance'",English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,...,Diane Keaton,Edward Herrmann,'Biography','Drama','History','Romance',NaN,NaN,NaN,NaN
2,tt0084434,An Officer and a Gentleman,"'Drama', 'Romance'",English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,...,Debra Winger,David Keith,'Drama','Romance',NaN,NaN,NaN,NaN,NaN,NaN
3,tt0119360,In & Out,"'Comedy', 'Romance'",English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,...,Joan Cusack,Tom Selleck,'Comedy','Romance',NaN,NaN,NaN,NaN,NaN,NaN
4,tt0292542,Son of the Bride,"'Comedy', 'Drama'",Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,...,Héctor Alterio,Norma Aleandro,'Comedy','Drama',NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
oscars_df['genre'].value_counts()

'Drama'          376
'Comedy'         194
'Biography'      171
'Action'          99
'Crime'           91
'Adventure'       57
'Animation'       57
'Short'           51
'Documentary'     43
'Horror'           4
'Mystery'          2
'Romance'          2
'Family'           2
'Musical'          1
'History'          1
Name: genre, dtype: int64

In [58]:
oscars_df['genre'].count()

1151

In [59]:
oscars_df['subgenre1'].value_counts()

 'Drama'        435
 'Romance'      103
 'Adventure'     77
 'Comedy'        57
 'Crime'         47
 'History'       33
 'Music'         32
 'Short'         32
 'Mystery'       31
 'Biography'     26
 'Thriller'      25
 'War'           21
 'Fantasy'       19
 'Family'        17
 'Sci-Fi'        10
 'Sport'          8
 'Musical'        7
 'Horror'         5
 'Action'         4
 'Western'        4
 'News'           2
 'Animation'      1
Name: subgenre1, dtype: int64

In [60]:
oscars_df['subgenre1'].count()

996

In [61]:
oscars_df['subgenre2'].value_counts()

 'Romance'      123
 'Drama'        112
 'Thriller'      81
 'History'       70
 'War'           42
 'Music'         35
 'Fantasy'       35
 'Sci-Fi'        29
 'Comedy'        27
 'Family'        22
 'Mystery'       21
 'Sport'         13
 'Crime'         10
 'Musical'        8
 'Adventure'      6
 'Biography'      5
 'Western'        3
 'Action'         3
 'Horror'         1
 'News'           1
 'Short'          1
 'Animation'      1
Name: subgenre2, dtype: int64

In [62]:
oscars_df['subgenre2'].count()

649

In [63]:
oscars_df['subgenre3'].count()

279

In [64]:
oscars_df['subgenre5'].count()

24

In [65]:
oscars_df['subgenre6'].value_counts()

 'Mystery'    1
 'War'        1
 'Romance'    1
Name: subgenre6, dtype: int64

In [66]:
oscars_df['subgenre7'].value_counts()

 'Romance'    1
Name: subgenre7, dtype: int64

In [67]:
oscars_df['sungenre4'].value_counts()

 'Fantasy'     17
 'War'         16
 'Thriller'    14
 'Western'      8
 'Romance'      6
 'Mystery'      5
 'Musical'      4
 'Sci-Fi'       4
 'Family'       4
 'History'      3
 'Music'        2
 'Sport'        1
 'Drama'        1
 'Crime'        1
Name: sungenre4, dtype: int64

In [68]:
oscars_df.drop(['genre(s)','sungenre4','subgenre5','subgenre6','subgenre7'], axis=1,inplace=True)

In [69]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3
0,tt0091763,Platoon,English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe,'Drama','War',NaN,NaN
1,tt0082979,Reds,English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann,'Biography','Drama','History','Romance'
2,tt0084434,An Officer and a Gentleman,English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,Taylor Hackford,Richard Gere,Debra Winger,David Keith,'Drama','Romance',NaN,NaN
3,tt0119360,In & Out,English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck,'Comedy','Romance',NaN,NaN
4,tt0292542,Son of the Bride,Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro,'Comedy','Drama',NaN,NaN

In [70]:
remove_quotation('genre')
remove_quotation('subgenre1')
remove_quotation('subgenre2')
remove_quotation('subgenre3')

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3
0,tt0091763,Platoon,English,USA,2h,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe,Drama,War,NaN,NaN
1,tt0082979,Reds,English,USA,3h 15min,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann,Biography,Drama,History,Romance
2,tt0084434,An Officer and a Gentleman,English,USA,2h 4min,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,Taylor Hackford,Richard Gere,Debra Winger,David Keith,Drama,Romance,NaN,NaN
3,tt0119360,In & Out,English,USA,1h 30min,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck,Comedy,Romance,NaN,NaN
4,tt0292542,Son of the Bride,Spanish,Argentina,2h 3min,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro,Comedy,Drama,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,tt0305206,American Splendor,English,USA,1h 41min,R,12 September 2003,90.0,NaN,HBO Films,Harvey Pekar,Joyce Brabner,Shari Springer Berman,Paul Giamatti,Shari Springer Berman,Harvey Pekar,Biography,Comedy,Drama,NaN
1147,tt0095800,The Bear,English,France,1h 36min,PG,27 October 1989,60.0,NaN,TriStar Pictures,James Oliver Curwood,Gérard Brach,Jean-Jacques Annaud,Tchéky Karyo,Bart the Bear,Youk the Bear,Adventure,Family,Drama,NaN
1148,tt1286537,"Food, Inc.",English,USA,1h 34min,PG,31 July 2009,80.0,NaN,Magnolia Pictures,Robert Kenner,Elise Pearlstein,Robert Kenner,Michael Pollan,Eric Schlosser,Richard Lobb,Documentary,News,NaN,NaN
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,1h 25min,R,11 March 2005,78.0,NaN,Think Films,Zana Briski,Ross Kauffman,Zana Briski,Kochi,Avijit Halder,Shanti Das,Documentary,Biography,News,NaN
1150,tt2922078,La lampe au beurre de yak,Tibetan,France,15min,Not Rated,16 January 2014,NaN,NaN,Youcai,Wei Hu,NaN,Wei Hu,Genden Phuntsok,Soepha,Sonam Gonpo,Short,Family,NaN,NaN

Change release date to datetime

In [88]:
oscars_df['release_date'] = pd.to_datetime(oscars_df['release date'])

In [89]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,NaN,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe,Drama,War,NaN,NaN,1987-02-06
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,Trevor Griffiths,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann,Biography,Drama,History,Romance,1981-12-25
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,NaN,Taylor Hackford,Richard Gere,Debra Winger,David Keith,Drama,Romance,NaN,NaN,1982-08-13
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,NaN,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck,Comedy,Romance,NaN,NaN,1997-09-19
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,Fernando Castets,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro,Comedy,Drama,NaN,NaN,2001-08-16

## Explore Runtime

In [73]:
oscars_df['runtime (mins)'].value_counts()

1h 45min    31
2h          28
1h 58min    28
2h 4min     26
1h 55min    24
            ..
16min        1
1h           1
36min        1
2h 48min     1
3h 21min     1
Name: runtime (mins), Length: 150, dtype: int64

In [82]:
import datetime
def runtime_to_minutes(runtimestring):
    if 'h' in runtimestring:
        runtime = runtimestring.split('h')
        minutes = int(runtime[0])*60 
        if 'min' in runtime[1]:
            mins = runtime[1].split('min')
            minutes += int(mins[0])
    else:
        runtime_minutes = runtimestring.split('min')
        minutes = int(runtime_minutes[0])
        
    return minutes

In [83]:
runtime_to_minutes('2h 3min')

123

In [84]:
oscars_df['runtime (mins)'] = oscars_df['runtime (mins)'].apply(runtime_to_minutes)

In [85]:
oscars_df['runtime (mins)'].value_counts()

105    31
120    28
118    28
124    26
115    24
       ..
60      1
58      1
54      1
41      1
4       1
Name: runtime (mins), Length: 150, dtype: int64

In [86]:
bool1 = oscars_df['runtime (mins)'] < 60
oscars_df[bool1]
oscars_df = oscars_df.drop(oscars_df[bool1].index)

In [87]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,writers1,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,Oliver Stone,NaN,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe,Drama,War,NaN,NaN
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,Warren Beatty,Trevor Griffiths,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann,Biography,Drama,History,Romance
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,Douglas Day Stewart,NaN,Taylor Hackford,Richard Gere,Debra Winger,David Keith,Drama,Romance,NaN,NaN
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,Paul Rudnick,NaN,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck,Comedy,Romance,NaN,NaN
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,Juan José Campanella,Fernando Castets,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro,Comedy,Drama,NaN,NaN

## Explore Metacritic and see how many NaN we retrieve

In [90]:
oscars_df.groupby('metacritic score').tail()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
32,tt1007029,The Iron Lady,English,UK,105,PG-13,13 January 2012,54.0,13000000.0,The Weinstein Company,...,NaN,Phyllida Lloyd,Meryl Streep,Jim Broadbent,Richard E. Grant,Biography,Drama,NaN,NaN,2012-01-13
33,tt0477302,Extremely Loud & Incredibly Close,English,USA,129,PG-13,20 January 2012,46.0,40000000.0,Warner Bros.,...,Jonathan Safran Foer,Stephen Daldry,Thomas Horn,Tom Hanks,Sandra Bullock,Adventure,Drama,Mystery,NaN,2012-01-20
41,tt0166943,Music of the Heart,English,USA,124,PG,29 October 1999,54.0,27000000.0,Miramax,...,NaN,Wes Craven,Meryl Streep,Cloris Leachman,Henry Dinhofer,Drama,Music,NaN,NaN,1999-10-29
53,tt1065073,Boyhood,English,USA,165,R,15 August 2014,100.0,4000000.0,IFC Films,...,NaN,Richard Linklater,Ellar Coltrane,Patricia Arquette,Ethan Hawke,Drama,NaN,NaN,NaN,2014-08-15
113,tt0887912,The Hurt Locker,English,USA,131,R,31 July 2009,95.0,15000000.0,Summit Entertainment,...,NaN,Kathryn Bigelow,Jeremy Renner,Anthony Mackie,Brian Geraghty,Drama,Thriller,War,NaN,2009-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,tt3652526,Fire at Sea,Italian,Italy,114,1h 54min,NaN,87.0,NaN,Kino Lorber,...,Carla Cattani,Gianfranco Rosi,Samuele Pucillo,Mattias Cucina,Samuele Caruana,Documentary,NaN,NaN,NaN,NaT
1146,tt0305206,American Splendor,English,USA,101,R,12 September 2003,90.0,NaN,HBO Films,...,Joyce Brabner,Shari Springer Berman,Paul Giamatti,Shari Springer Berman,Harvey Pekar,Biography,Comedy,Drama,NaN,2003-09-12
1147,tt0095800,The Bear,English,France,96,PG,27 October 1989,60.0,NaN,TriStar Pictures,...,Gérard Brach,Jean-Jacques Annaud,Tchéky Karyo,Bart the Bear,Youk the Bear,Adventure,Family,Drama,NaN,1989-10-27
1148,tt1286537,"Food, Inc.",English,USA,94,PG,31 July 2009,80.0,NaN,Magnolia Pictures,...,Elise Pearlstein,Robert Kenner,Michael Pollan,Eric Schlosser,Richard Lobb,Documentary,News,NaN,NaN,2009-07-31
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,85,R,11 March 2005,78.0,NaN,Think Films,...,Ross Kauffman,Zana Briski,Kochi,Avijit Halder,Shanti Das,Documentary,Biography,News,NaN,2005-03-11

In [91]:
bool1 = pd.isnull(oscars_df['metacritic score'])
oscars_df[bool1]

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,writers2,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date
7,tt0082736,Mephisto,Hungarian,West Germany,144,Unrated,22 March 1982,NaN,NaN,Analysis Film Releasing Corporation,...,István Szabó,István Szabó,Klaus Maria Brandauer,Krystyna Janda,Ildikó Bánsági,Drama,NaN,NaN,NaN,1982-03-22
9,tt0087027,Camila,Spanish,Argentina,105,R,15 March 1985,NaN,NaN,European Classics,...,Beda Docampo Feijóo,María Luisa Bemberg,Susú Pecoraro,Imanol Arias,Héctor Alterio,Drama,Romance,NaN,NaN,1985-03-15
10,tt0094924,A Cry in the Dark,English,Australia,120,PG-13,11 November 1988,NaN,15000000.0,Warner Bros.,...,Robert Caswell,Fred Schepisi,Meryl Streep,Sam Neill,Dale Reeves,Biography,Drama,NaN,NaN,1988-11-11
15,tt0095530,Little Dorrit,English,UK,357,G,21 October 1988,NaN,NaN,Cannon Film Distributors,...,Christine Edzard,Christine Edzard,Derek Jacobi,Alec Guinness,Joan Greenwood,Drama,Romance,NaN,NaN,1988-10-21
29,tt0111797,Eat Drink Man Woman,Mandarin,Taiwan,124,Not Rated,3 August 1994,NaN,NaN,The Samuel Goldwyn Company,...,James Schamus,Ang Lee,Sihung Lung,Kuei-Mei Yang,Yu-Wen Wang,Comedy,Drama,Romance,NaN,1994-08-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,tt0080888,Honeysuckle Rose,English,USA,119,PG,18 July 1980,NaN,NaN,Warner Bros.,...,Gustaf Molander,Jerry Schatzberg,Willie Nelson,Dyan Cannon,Amy Irving,Drama,Music,Romance,NaN,1980-07-18
1078,tt0119561,The Long Way Home,English,USA,120,Not Rated,19 September 1997,NaN,NaN,NaN,...,NaN,Mark Jonathan Harris,Morgan Freeman,Israel Lau,Livia Shacter,Documentary,History,War,NaN,1997-09-19
1106,tt0139193,"The Farm: Angola, USA",English,USA,88,1h 28min,NaN,NaN,NaN,A+E Networks,...,NaN,Liz Garbus,Bernard Addison,Burl Cain,George Crawford,Documentary,NaN,NaN,NaN,NaT
1115,tt0116409,The Ghost and the Darkness,English,Germany,110,R,11 October 1996,NaN,55000000.0,Paramount Pictures,...,NaN,Stephen Hopkins,Michael Douglas,Val Kilmer,Tom Wilkinson,Adventure,Drama,Thriller,NaN,1996-10-11
1141,tt0103938,Changing Our Minds: The Story of Dr. Evelyn Ho...,English,USA,77,1h 17min,NaN,NaN,NaN,NaN,...,NaN,Richard Schmiechen,Evelyn Hooker,Chuck Rowland,NaN,Documentary,Biography,History,NaN,NaT

Since we are looking for the metacritc score if a movie doesn't have a score it wont provide much information and will be dropped

In [92]:
oscars_df.dropna(subset=['metacritic score'],inplace=True)

In [93]:
oscars_df.shape

(908, 21)

With dropping the NaN rows from the metacritic score we lost a little over 100 rows of data.
Now I want to explore the runtime of movies and make sure we are only keeping feature length films

In [94]:
bool1 = oscars_df['runtime (mins)'] < 60
oscars_df[bool1]

Empty DataFrame
Columns: [IMDBId, movie title, language, country, runtime (mins), mpaarating, release date, metacritic score, budget, distributionCompany, writers1, writers2, director, Lead_Actor, Supporting_Actor_1, Supporting_Actor_2, genre, subgenre1, subgenre2, subgenre3, release_date]
Index: []

[0 rows x 21 columns]

It looks like all the movies are feature length so we do not need to delete any columns.
Now I want to explore some columns that may give some good information for the realtionship between oscars nominated directors and actors

In [95]:
directors_df = oscars_df.groupby(['director','Lead_Actor'])['Lead_Actor'].transform('count')

In [96]:
oscars_df['Total_Movies_Lead_Actor_Director'] =  oscars_df.groupby(['director','Lead_Actor'])['Lead_Actor'].transform('count')

In [97]:
oscars_df

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date,Total_Movies_Lead_Actor_Director
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,Oliver Stone,Charlie Sheen,Tom Berenger,Willem Dafoe,Drama,War,NaN,NaN,1987-02-06,2
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,Warren Beatty,Warren Beatty,Diane Keaton,Edward Herrmann,Biography,Drama,History,Romance,1981-12-25,3
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,Taylor Hackford,Richard Gere,Debra Winger,David Keith,Drama,Romance,NaN,NaN,1982-08-13,1
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,Frank Oz,Kevin Kline,Joan Cusack,Tom Selleck,Comedy,Romance,NaN,NaN,1997-09-19,1
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,Juan José Campanella,Ricardo Darín,Héctor Alterio,Norma Aleandro,Comedy,Drama,NaN,NaN,2001-08-16,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,tt3652526,Fire at Sea,Italian,Italy,114,1h 54min,NaN,87.0,NaN,Kino Lorber,...,Gianfranco Rosi,Samuele Pucillo,Mattias Cucina,Samuele Caruana,Documentary,NaN,NaN,NaN,NaT,1
1146,tt0305206,American Splendor,English,USA,101,R,12 September 2003,90.0,NaN,HBO Films,...,Shari Springer Berman,Paul Giamatti,Shari Springer Berman,Harvey Pekar,Biography,Comedy,Drama,NaN,2003-09-12,1
1147,tt0095800,The Bear,English,France,96,PG,27 October 1989,60.0,NaN,TriStar Pictures,...,Jean-Jacques Annaud,Tchéky Karyo,Bart the Bear,Youk the Bear,Adventure,Family,Drama,NaN,1989-10-27,1
1148,tt1286537,"Food, Inc.",English,USA,94,PG,31 July 2009,80.0,NaN,Magnolia Pictures,...,Robert Kenner,Michael Pollan,Eric Schlosser,Richard Lobb,Documentary,News,NaN,NaN,2009-07-31,1
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,85,R,11 March 2005,78.0,NaN,Think Films,...,Zana Briski,Kochi,Avijit Halder,Shanti Das,Documentary,Biography,News,NaN,2005-03-11,1

In [98]:
oscars_df.sort_values('Total_Movies_Lead_Actor_Director',ascending=False)

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,director,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date,Total_Movies_Lead_Actor_Director
776,tt0101540,Cape Fear,English,USA,128,R,15 November 1991,73.0,35000000.0,Universal Pictures,...,Martin Scorsese,Robert De Niro,Nick Nolte,Jessica Lange,Crime,Thriller,NaN,NaN,1991-11-15,5
633,tt0112641,Casino,English,France,178,R,22 November 1995,73.0,52000000.0,Universal Pictures,...,Martin Scorsese,Robert De Niro,Sharon Stone,Joe Pesci,Crime,Drama,NaN,NaN,1995-11-22,5
745,tt0099685,Goodfellas,English,USA,146,R,21 September 1990,90.0,25000000.0,Warner Bros.,...,Martin Scorsese,Robert De Niro,Ray Liotta,Joe Pesci,Biography,Crime,Drama,NaN,1990-09-21,5
85,tt1302006,The Irishman,English,USA,209,R,27 November 2019,94.0,159000000.0,Netflix,...,Martin Scorsese,Robert De Niro,Al Pacino,Joe Pesci,Biography,Crime,Drama,NaN,2019-11-27,5
533,tt0081398,Raging Bull,English,USA,129,R,19 December 1980,89.0,18000000.0,United Artists,...,Martin Scorsese,Robert De Niro,Cathy Moriarty,Joe Pesci,Biography,Drama,Sport,NaN,1980-12-19,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,tt0369339,Collateral,English,USA,120,R,6 August 2004,71.0,65000000.0,DreamWorks Distribution,...,Michael Mann,Tom Cruise,Jamie Foxx,Jada Pinkett Smith,Crime,Drama,Thriller,NaN,2004-08-06,1
427,tt0112573,Braveheart,English,USA,178,R,24 May 1995,68.0,72000000.0,Paramount Pictures,...,Mel Gibson,Mel Gibson,Sophie Marceau,Patrick McGoohan,Biography,Drama,History,War,1995-05-24,1
429,tt1832382,A Separation,Persian,Iran,123,PG-13,16 March 2011,95.0,500000.0,Sony Pictures Classics,...,Asghar Farhadi,Payman Maadi,Leila Hatami,Sareh Bayat,Drama,Thriller,NaN,NaN,2011-03-16,1
430,tt6543652,Cold War,Polish,Poland,89,R,8 June 2018,90.0,NaN,Amazon Studios,...,Pawel Pawlikowski,Joanna Kulig,Tomasz Kot,Borys Szyc,Drama,History,Music,Romance,2018-06-08,1
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,85,R,11 March 2005,78.0,NaN,Think Films,...,Zana Briski,Kochi,Avijit Halder,Shanti Das,Documentary,Biography,News,NaN,2005-03-11,1

*  Now I will do the same for the relationship between supporting actors 1 and 2 and director

In [99]:
oscars_df['Total_Movies_First_Supporting_Actor_Director'] =  oscars_df.groupby(['director','Supporting_Actor_1'])['Supporting_Actor_1'].transform('count')

In [100]:
oscars_df.sort_values('Total_Movies_First_Supporting_Actor_Director',ascending=False).head(10)

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,Lead_Actor,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date,Total_Movies_Lead_Actor_Director,Total_Movies_First_Supporting_Actor_Director
1062,tt0903624,The Hobbit: An Unexpected Journey,English,New Zealand,169,PG-13,14 December 2012,58.0,180000000.0,Fathom Events,...,Martin Freeman,Ian McKellen,Richard Armitage,Adventure,Fantasy,NaN,NaN,2012-12-14,1,2
907,tt1124035,The Ides of March,English,USA,101,R,7 October 2011,67.0,12500000.0,Columbia Pictures,...,Paul Giamatti,George Clooney,Philip Seymour Hoffman,Drama,Thriller,NaN,NaN,2011-10-07,1,2
655,tt0090985,The Decline of the American Empire,French,Canada,101,R,14 November 1986,60.0,NaN,Cineplex Odeon Films,...,Dominique Michel,Dorothée Berryman,Louise Portal,Comedy,Drama,NaN,NaN,1986-11-14,1,2
1112,tt0121765,Star Wars: Episode II - Attack of the Clones,English,USA,142,PG,16 May 2002,54.0,115000000.0,Twentieth Century Fox,...,Hayden Christensen,Natalie Portman,Ewan McGregor,Action,Adventure,Fantasy,Sci-Fi,2002-05-16,2,2
255,tt0120382,The Truman Show,English,USA,103,PG,5 June 1998,90.0,60000000.0,Paramount Pictures,...,Jim Carrey,Ed Harris,Laura Linney,Comedy,Drama,Sci-Fi,NaN,1998-06-05,1,2
103,tt1229381,Hors la loi,French,France,138,R,22 September 2010,59.0,NaN,Cohen Media Group,...,Jamel Debbouze,Roschdy Zem,Sami Bouajila,Crime,Drama,War,NaN,2010-09-22,1,2
444,tt0248667,Ali,English,USA,157,R,25 December 2001,65.0,107000000.0,Columbia Pictures,...,Will Smith,Jamie Foxx,Jon Voight,Biography,Drama,Sport,NaN,2001-12-25,1,2
34,tt0107943,The Remains of the Day,English,USA,134,PG,19 November 1993,84.0,15000000.0,Columbia Pictures,...,Anthony Hopkins,Emma Thompson,John Haycraft,Drama,Romance,NaN,NaN,1993-11-19,2,2
390,tt0264464,Catch Me If You Can,English,USA,141,PG-13,25 December 2002,75.0,52000000.0,DreamWorks Distribution,...,Leonardo DiCaprio,Tom Hanks,Christopher Walken,Biography,Crime,Drama,NaN,2002-12-25,1,2
942,tt0121766,Star Wars: Episode III - Revenge of the Sith,English,USA,140,PG-13,19 May 2005,68.0,113000000.0,Twentieth Century Fox,...,Hayden Christensen,Natalie Portman,Ewan McGregor,Action,Adventure,Fantasy,Sci-Fi,2005-05-19,2,2

In [101]:
oscars_df['Total_Movies_Second_Supporting_Actor_Director'] =  oscars_df.groupby(['director','Supporting_Actor_2'])['Supporting_Actor_2'].transform('count')

In [102]:
oscars_df.sort_values('Total_Movies_Second_Supporting_Actor_Director',ascending=False).head(10)

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,Supporting_Actor_1,Supporting_Actor_2,genre,subgenre1,subgenre2,subgenre3,release_date,Total_Movies_Lead_Actor_Director,Total_Movies_First_Supporting_Actor_Director,Total_Movies_Second_Supporting_Actor_Director
745,tt0099685,Goodfellas,English,USA,146,R,21 September 1990,90.0,25000000.0,Warner Bros.,...,Ray Liotta,Joe Pesci,Biography,Crime,Drama,NaN,1990-09-21,5,1,4.0
533,tt0081398,Raging Bull,English,USA,129,R,19 December 1980,89.0,18000000.0,United Artists,...,Cathy Moriarty,Joe Pesci,Biography,Drama,Sport,NaN,1980-12-19,5,1,4.0
85,tt1302006,The Irishman,English,USA,209,R,27 November 2019,94.0,159000000.0,Netflix,...,Al Pacino,Joe Pesci,Biography,Crime,Drama,NaN,2019-11-27,5,1,4.0
633,tt0112641,Casino,English,France,178,R,22 November 1995,73.0,52000000.0,Universal Pictures,...,Sharon Stone,Joe Pesci,Crime,Drama,NaN,NaN,1995-11-22,5,1,4.0
1062,tt0903624,The Hobbit: An Unexpected Journey,English,New Zealand,169,PG-13,14 December 2012,58.0,180000000.0,Fathom Events,...,Ian McKellen,Richard Armitage,Adventure,Fantasy,NaN,NaN,2012-12-14,1,2,2.0
135,tt0401383,The Diving Bell and the Butterfly,French,France,112,PG-13,1 February 2008,92.0,NaN,Miramax,...,Emmanuelle Seigner,Marie-Josée Croze,Biography,Drama,NaN,NaN,2008-02-01,2,2,2.0
762,tt2446980,Joy,English,USA,124,PG-13,25 December 2015,56.0,60000000.0,Fox 2000 Pictures,...,Robert De Niro,Bradley Cooper,Biography,Drama,NaN,NaN,2015-12-25,1,1,2.0
534,tt0783233,Atonement,English,UK,123,R,11 January 2008,85.0,30000000.0,Focus Features,...,James McAvoy,Brenda Blethyn,Drama,Mystery,Romance,War,2008-01-11,3,1,2.0
845,tt0401383,The Diving Bell and the Butterfly,French,France,112,PG-13,1 February 2008,92.0,NaN,Miramax,...,Emmanuelle Seigner,Marie-Josée Croze,Biography,Drama,NaN,NaN,2008-02-01,2,2,2.0
1112,tt0121765,Star Wars: Episode II - Attack of the Clones,English,USA,142,PG,16 May 2002,54.0,115000000.0,Twentieth Century Fox,...,Natalie Portman,Ewan McGregor,Action,Adventure,Fantasy,Sci-Fi,2002-05-16,2,2,2.0

In [103]:
oscars_df.shape

(908, 24)

### Now I am going to create dummy variables for distribution company and genre
* First I will explore the distribution companies and the value counts for each

In [105]:
def get_top_ten(column):
    top_ten = oscars_df[column].value_counts().iloc[:10]
    mask = oscars_df[column].isin(top_ten.index)
    return mask

In [106]:
mask = get_top_ten('distributionCompany')

Filtering the distribution list to see how many of the studios were nominated for 4 or more oscars

In [107]:
oscars_df['distributionCompany'][mask].value_counts()

Paramount Pictures          73
Warner Bros.                71
Universal Pictures          66
Sony Pictures Classics      62
Columbia Pictures           61
Twentieth Century Fox       60
Miramax                     52
Focus Features              28
Fox Searchlight Pictures    28
Buena Vista Pictures        28
Name: distributionCompany, dtype: int64

In [108]:
distro_dummies = pd.get_dummies(oscars_df['distributionCompany'][mask])

In [109]:
oscars_df = pd.concat([oscars_df, distro_dummies], axis=1)

In [110]:
oscars_df.shape

(908, 34)

In [111]:
oscars_df.head()

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,Buena Vista Pictures,Columbia Pictures,Focus Features,Fox Searchlight Pictures,Miramax,Paramount Pictures,Sony Pictures Classics,Twentieth Century Fox,Universal Pictures,Warner Bros.
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

Now exploring genre and subgenres

In [112]:
oscars_df['genre'].value_counts()

Drama          289
Biography      158
Comedy         152
Action          96
Crime           86
Adventure       55
Animation       41
Documentary     23
Horror           4
Mystery          2
Family           1
Romance          1
Name: genre, dtype: int64

In [113]:
oscars_df['subgenre1'].value_counts()

Drama        364
Romance       78
Adventure     75
Comedy        43
Crime         42
Mystery       29
Music         23
Thriller      23
History       22
Biography     20
Fantasy       18
War           16
Family        16
Sci-Fi        10
Sport          7
Musical        5
Horror         4
Western        4
Action         4
News           2
Animation      1
Name: subgenre1, dtype: int64

In [114]:
oscars_df['subgenre2'].value_counts()

Romance      98
Drama        89
Thriller     76
History      61
Fantasy      33
Sci-Fi       29
War          28
Music        26
Mystery      20
Family       19
Comedy       19
Sport        12
Crime        10
Musical       8
Adventure     4
Western       2
News          1
Horror        1
Biography     1
Name: subgenre2, dtype: int64

In [115]:
oscars_df['subgenre3'].value_counts()

Thriller    56
Romance     44
War         27
Family      22
History     22
Fantasy     15
Mystery     14
Sport       10
Sci-Fi      10
Musical      6
Music        6
Drama        6
Crime        2
Western      2
Comedy       1
Name: subgenre3, dtype: int64

In [116]:
oscars_df['genre'].count()

908

In [117]:
oscars_df['subgenre1'].count()

806

In [118]:
mask = get_top_ten('genre')
oscars_df['genre'][mask].value_counts()

Drama          289
Biography      158
Comedy         152
Action          96
Crime           86
Adventure       55
Animation       41
Documentary     23
Horror           4
Mystery          2
Name: genre, dtype: int64

In [119]:
main_genre_dummies = pd.get_dummies(oscars_df['genre'][mask])
oscars_df = pd.concat([oscars_df, main_genre_dummies], axis=1)

In [120]:
oscars_df.shape

(908, 44)

In [121]:
mask = get_top_ten('subgenre1')

In [122]:
oscars_df = pd.concat([oscars_df, main_genre_dummies], axis=1)
oscars_df['subgenre1'][mask].value_counts()

Drama        364
Romance       78
Adventure     75
Comedy        43
Crime         42
Mystery       29
Music         23
Thriller      23
History       22
Biography     20
Name: subgenre1, dtype: int64

In [123]:
sub_genre1_dummies = pd.get_dummies(oscars_df['subgenre1'][mask])
sub_genre1_dummies

,Adventure,Biography,Comedy,Crime,Drama,History,Music,Mystery,Romance,Thriller
1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1139,0,0,0,0,1,0,0,0,0,0
1140,1,0,0,0,0,0,0,0,0,0
1142,0,0,0,0,0,1,0,0,0,0
1146,0,0,1,0,0,0,0,0,0,0
1149,0,1,0,0,0,0,0,0,0,0

In [124]:
#Join Subgenre_1 EXPECT THE COLUMNS TO ONLY expand by 8 because there are 8 more geners in subgenre than are in main
oscars_df = pd.concat([oscars_df, sub_genre1_dummies], axis=1)
oscars_df.shape

(908, 64)

In [125]:
oscars_df.columns

Index(['IMDBId', 'movie title', 'language', 'country', 'runtime (mins)',
       'mpaarating', 'release date', 'metacritic score', 'budget',
       'distributionCompany', 'writers1', 'writers2', 'director', 'Lead_Actor',
       'Supporting_Actor_1', 'Supporting_Actor_2', 'genre', 'subgenre1',
       'subgenre2', 'subgenre3', 'release_date',
       'Total_Movies_Lead_Actor_Director',
       'Total_Movies_First_Supporting_Actor_Director',
       'Total_Movies_Second_Supporting_Actor_Director', 'Buena Vista Pictures',
       'Columbia Pictures', 'Focus Features', 'Fox Searchlight Pictures',
       'Miramax', 'Paramount Pictures', 'Sony Pictures Classics',
       'Twentieth Century Fox', 'Universal Pictures', 'Warner Bros.', 'Action',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Horror', 'Mystery', 'Action', 'Adventure', 'Animation',
       'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Horror',
       'Mystery', 'Adventure', 'Biography', 'Comedy', 'Crime', 'Drama',
       'History', 'Music', 'Mystery', 'Romance', 'Thriller'],
      dtype='object')

In [126]:
#Drop duplicate columns from subgenre 1
oscars_df = oscars_df.loc[:,~oscars_df.columns.duplicated()]

In [127]:
oscars_df.shape

(908, 48)

I won't do a join on subgenre_2 or 3 because the same genres are represented in the already present dummy variables

## Create a season column based off of the date time column

In [128]:
def get_season(column):
    month =  pd.DatetimeIndex(oscars_df[column]).month
    seasons_list = []
    for m in month:
        if m == 12 or m <= 3 :
            seasons_list.append('Winter')
        elif m <= 5 :
            seasons_list.append('Spring')
        elif m<= 8:
            seasons_list.append('Summer')
        else:
            seasons_list.append('Fall')
    return seasons_list

In [129]:
oscars_df['season'] = get_season('release date')

In [130]:
oscars_df.season.value_counts()

Winter    410
Fall      261
Summer    162
Spring     75
Name: season, dtype: int64

Now that I have the seasons and the value counts I will create dummy variables and join then to the dataframe

In [131]:
season_dummies = pd.get_dummies(oscars_df['season'])

In [132]:
season_dummies

      Fall  Spring  Summer  Winter
0        0       0       0       1
1        0       0       0       1
2        0       0       1       0
3        1       0       0       0
4        0       0       1       0
...    ...     ...     ...     ...
1144     1       0       0       0
1146     1       0       0       0
1147     1       0       0       0
1148     0       0       1       0
1149     0       0       0       1

[908 rows x 4 columns]

In [133]:
oscars_df

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,Crime,Documentary,Drama,Horror,Mystery,History,Music,Romance,Thriller,season
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,Winter
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Winter
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,Summer
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Fall
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,tt3652526,Fire at Sea,Italian,Italy,114,1h 54min,NaN,87.0,NaN,Kino Lorber,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,Fall
1146,tt0305206,American Splendor,English,USA,101,R,12 September 2003,90.0,NaN,HBO Films,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Fall
1147,tt0095800,The Bear,English,France,96,PG,27 October 1989,60.0,NaN,TriStar Pictures,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,Fall
1148,tt1286537,"Food, Inc.",English,USA,94,PG,31 July 2009,80.0,NaN,Magnolia Pictures,...,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,Summer
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,85,R,11 March 2005,78.0,NaN,Think Films,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Winter

In [134]:
oscars_df = pd.concat([oscars_df, season_dummies], axis=1)

In [135]:
oscars_df.shape

(908, 53)

## I will explore the country and language columns and see if it is worth while to create dummy variables based on it

In [136]:
oscars_df['country'].value_counts()

USA                            559
UK                             126
France                          42
Germany                         20
Canada                          16
Spain                           11
Denmark                          9
Australia                        9
Japan                            9
Mexico                           8
Italy                            8
Sweden                           8
Ireland                          7
New Zealand                      7
Poland                           6
Russia                           5
China                            5
Belgium                          4
Argentina                        4
Brazil                           3
Switzerland                      3
Iran                             3
Austria                          3
West Germany                     3
Chile                            2
Israel                           2
Colombia                         2
Hungary                          2
Czech Republic                   2
Palestine                        2
Malta                            1
Lebanon                          1
Estonia                          1
Finland                          1
Republic of North Macedonia      1
Norway                           1
Netherlands                      1
Algeria                          1
Mauritania                       1
Turkey                           1
India                            1
Taiwan                           1
United Arab Emirates             1
South Africa                     1
Cambodia                         1
Hong Kong                        1
Greece                           1
South Korea                      1
Name: country, dtype: int64

In [137]:
oscars_df['language'].value_counts()

English       754
French         33
Spanish        22
German         14
Japanese       10
Arabic          7
Italian         7
Swedish         7
Danish          6
Polish          5
Mandarin        4
Russian         3
Hindi           3
Persian         3
Hebrew          2
Turkish         2
Dutch           2
Hungarian       2
Flemish         2
Portuguese      2
Norwegian       2
Mongolian       1
Zulu            1
Greek           1
Tibetan         1
Afrikaans       1
Finnish         1
Estonian        1
Aramaic         1
Latin           1
Bengali         1
None            1
Bosnian         1
Aboriginal      1
Korean          1
Ukrainian       1
Czech           1
Name: language, dtype: int64

* Since both the country and language lean heavily towards AmericaN/English I will leave those alone as potential variables for now

## Now I will explore the actors and the number of nominations and see if there is a good cutoff for the number of nominations and a dummy variable

In [138]:
oscars_df['Lead_Actor'].value_counts()

Tom Hanks            16
Meryl Streep         14
Leonardo DiCaprio    12
Brad Pitt             9
Denzel Washington     8
                     ..
Geraldine Page        1
Lily Franky           1
Stéphane Audran       1
Alec Baldwin          1
Kyle MacLachlan       1
Name: Lead_Actor, Length: 549, dtype: int64

In [139]:
top_ten = oscars_df['Lead_Actor'].value_counts().iloc[:10]
mask = oscars_df['Lead_Actor'].isin(top_ten.index)

In [140]:
oscars_df['Lead_Actor'][mask].value_counts()

Tom Hanks            16
Meryl Streep         14
Leonardo DiCaprio    12
Brad Pitt             9
Robert De Niro        8
Denzel Washington     8
Jeff Bridges          8
Tom Cruise            7
Daniel Day-Lewis      7
Matt Damon            6
Name: Lead_Actor, dtype: int64

For the creation of the dummy variable I will consider lead actors with 5 or more nominations

In [141]:
actor_dummies = pd.get_dummies(oscars_df['Lead_Actor'][mask])

In [142]:
oscars_df = pd.concat([oscars_df, actor_dummies], axis=1)

In [143]:
oscars_df.shape

(908, 63)

In [144]:
vc = oscars_df['Supporting_Actor_1'].value_counts() 
mask = oscars_df['Supporting_Actor_1'].isin(vc[vc >= 5].index)

In [145]:
oscars_df['Supporting_Actor_1'][mask].value_counts()

Meryl Streep      8
Kate Winslet      7
Matt Damon        6
Glenn Close       5
Cate Blanchett    5
Sissy Spacek      5
Julianne Moore    5
Ed Harris         5
Name: Supporting_Actor_1, dtype: int64

In [146]:
vc = oscars_df['Supporting_Actor_2'].value_counts() 
mask = oscars_df['Supporting_Actor_2'].isin(vc[vc >= 5].index)

In [147]:
oscars_df['Supporting_Actor_2'][mask].value_counts()

Willem Dafoe           5
Ed Harris              5
Christopher Plummer    5
Name: Supporting_Actor_2, dtype: int64

## I will now explore the writers

In [148]:
oscars_df['writers1'].value_counts()

Woody Allen             9
Quentin Tarantino       6
Joel Coen               6
Paul Thomas Anderson    5
John Logan              5
                       ..
Jeremy Brock            1
Agnieszka Holland       1
Chris Marker            1
Billy Bob Thornton      1
Coline Serreau          1
Name: writers1, Length: 733, dtype: int64

In [149]:
oscars_df['writers2'].value_counts()

Ethan Coen              7
Ruth Prawer Jhabvala    6
Eric Roth               4
Anthony Minghella       4
Steven Zaillian         4
                       ..
Richard Price           1
Robert Festinger        1
Akira Kurosawa          1
David Rabe              1
Richard Matheson        1
Name: writers2, Length: 591, dtype: int64

In [150]:
vc = oscars_df['writers1'].value_counts() 
mask = oscars_df['writers1'].isin(vc[vc >= 5].index)

In [151]:
oscars_df['writers1'][mask].value_counts()

Woody Allen             9
Quentin Tarantino       6
Joel Coen               6
John Logan              5
Paul Thomas Anderson    5
Aaron Sorkin            5
Pedro Almodóvar         5
Name: writers1, dtype: int64

In [152]:
vc = oscars_df['writers2'].value_counts() 
mask = oscars_df['writers2'].isin(vc[vc >= 5].index)

In [153]:
oscars_df['writers2'][mask].value_counts()

Ethan Coen              7
Ruth Prawer Jhabvala    6
Name: writers2, dtype: int64

I will create dummy variables for writer 1

In [154]:
writers_dummies = pd.get_dummies(oscars_df['writers1'][mask])

In [155]:
oscars_df = pd.concat([oscars_df, writers_dummies], axis=1)

In [156]:
oscars_df.shape

(908, 69)

### Create dummies for ratings

In [157]:
oscars_df.mpaarating.value_counts()

R            466
PG-13        233
PG           150
Not Rated     27
G             19
Unrated        3
2h 10min       1
1h 55min       1
1h 46min       1
1h 56min       1
1h 30min       1
TV-MA          1
1h 48min       1
1h 34min       1
2h 9min        1
1h 54min       1
Name: mpaarating, dtype: int64

In [158]:
top_six = oscars_df['mpaarating'].value_counts().iloc[:6]
mask = oscars_df['mpaarating'].isin(top_six.index)
ratings_dummies = pd.get_dummies(oscars_df['mpaarating'][mask])

In [159]:
oscars_df = pd.concat([oscars_df, ratings_dummies], axis=1)

In [160]:
oscars_df.shape

(908, 75)

In [161]:
oscars_df

,IMDBId,movie title,language,country,runtime (mins),mpaarating,release date,metacritic score,budget,distributionCompany,...,Henry James,Joel Coen,Kazuo Ishiguro,Matt Charman,G,Not Rated,PG,PG-13,R,Unrated
0,tt0091763,Platoon,English,USA,120,R,6 February 1987,92.0,6000000.0,Orion Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0
1,tt0082979,Reds,English,USA,195,PG,25 December 1981,76.0,32000000.0,Paramount Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
2,tt0084434,An Officer and a Gentleman,English,USA,124,R,13 August 1982,75.0,7500000.0,Paramount Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0
3,tt0119360,In & Out,English,USA,90,PG-13,19 September 1997,70.0,35000000.0,Paramount Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0
4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,16 August 2001,68.0,NaN,Sony Pictures Classics,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,tt3652526,Fire at Sea,Italian,Italy,114,1h 54min,NaN,87.0,NaN,Kino Lorber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,tt0305206,American Splendor,English,USA,101,R,12 September 2003,90.0,NaN,HBO Films,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0
1147,tt0095800,The Bear,English,France,96,PG,27 October 1989,60.0,NaN,TriStar Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
1148,tt1286537,"Food, Inc.",English,USA,94,PG,31 July 2009,80.0,NaN,Magnolia Pictures,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
1149,tt0388789,Born Into Brothels: Calcutta's Red Light Kids,Bengali,USA,85,R,11 March 2005,78.0,NaN,Think Films,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0

## Now that I am done with exploring the datafram I will being exploring the features and regression

In [162]:
oscars_df.to_csv('oscar_movies_data.csv',encoding='utf-8-sig')