In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso,LassoCV
from sklearn.preprocessing import StandardScaler

## Explore the data

In [3]:
oscars_df = pd.read_csv('oscar_movies_data_2.csv')

In [4]:
oscars_df.head()

,Unnamed: 0,IMDBId,movie title,language,country,runtime (mins),mpaarating,metacritic score,budget,distributionCompany,...,R,Unrated,Writer_Aaron Sorkin,Writer_Joel Coen,Writer_John Logan,Writer_Lawrence Kasdan,Writer_Paul Thomas Anderson,Writer_Pedro Almodóvar,Writer_Quentin Tarantino,Writer_Woody Allen
0,0,tt0091763,Platoon,English,USA,120,R,92.0,6.000000e+06,Orion Pictures,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0082979,Reds,English,USA,195,PG,76.0,3.200000e+07,Paramount Pictures,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,tt0084434,An Officer and a Gentleman,English,USA,124,R,75.0,7.500000e+06,Paramount Pictures,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,tt0119360,In & Out,English,USA,90,PG-13,70.0,3.500000e+07,Paramount Pictures,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,tt0292542,Son of the Bride,Spanish,Argentina,123,R,68.0,1.136429e+07,Sony Pictures Classics,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
numerics = ['int16','int32','int64','float16','float32','float64']
numerical_vars = list(oscars_df.select_dtypes(include=numerics).columns)
oscars_data = oscars_df[numerical_vars]
oscars_data.shape

(1136, 88)

In [6]:
oscars_data.fillna(0,inplace=True)

/Users/sibongiletoure/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4316: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [7]:
oscars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 88 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               1136 non-null   int64
 1   runtime (mins)                                           1136 non-null   int64
 2   metacritic score                                         1136 non-null   float64
 3   budget                                                   1136 non-null   float64
 4   Total_Noms                                               1136 non-null   int64
 5   Director_Avg_Score                                       1136 non-null   float64
 6   Total_Director_Movies                                    1136 non-null   int64
 7   Lead_Actor_Avg_Score                                     1136 non-null   float64
 8   Total_Movies_Lead_Actor                                  1136 non-null   int64
 9   Avg_Rating_by_Genre                                      1136 non-null   float64
 10  Buena Vista Pictures                                     1136 non-null   float64
 11  Columbia Pictures                                        1136 non-null   float64
 12  Fox Searchlight Pictures                                 1136 non-null   float64
 13  Miramax                                                  1136 non-null   float64
 14  Paramount Pictures                                       1136 non-null   float64
 15  Sony Pictures Classics                                   1136 non-null   float64
 16  Twentieth Century Fox                                    1136 non-null   float64
 17  Universal Pictures                                       1136 non-null   float64
 18  Walt Disney Studios Motion Pictures                      1136 non-null   float64
 19  Warner Bros.                                             1136 non-null   float64
 20  Genre_Action                                             1136 non-null   float64
 21  Genre_Adventure                                          1136 non-null   float64
 22  Genre_Animation                                          1136 non-null   float64
 23  Genre_Biography                                          1136 non-null   float64
 24  Genre_Comedy                                             1136 non-null   float64
 25  Genre_Crime                                              1136 non-null   float64
 26  Genre_Documentary                                        1136 non-null   float64
 27  Genre_Drama                                              1136 non-null   float64
 28  Genre_Family                                             1136 non-null   float64
 29  Genre_Horror                                             1136 non-null   float64
 30  Subgenre_Adventure                                       1136 non-null   float64
 31  Subgenre_Comedy                                          1136 non-null   float64
 32  Subgenre_Crime                                           1136 non-null   float64
 33  Subgenre_Drama                                           1136 non-null   float64
 34  Subgenre_Fantasy                                         1136 non-null   float64
 35  Subgenre_History                                         1136 non-null   float64
 36  Subgenre_Music                                           1136 non-null   float64
 37  Subgenre_Mystery                                         1136 non-null   float64
 38  Subgenre_Romance                                         1136 non-null   float64
 39  Subgenre_Thriller                                        1136 non-null   float64
 40  Director_Barry Levinson                                  1136 non-null   float64
 41  Director_Clint Eastwood                                  1136 non-null   float64
 42  Director_Martin Scorsese                                 1136 non-null   float64
 43  Director_Ridley Scott                                    1136 non-null   float64
 44  Director_Robert Zemeckis                                 1136 non-null   float64
 45  Director_Ron Howard                                      1136 non-null   float64
 46  Director_Stephen Frears                                  1136 non-null   float64
 47  Director_Steven Spielberg                                1136 non-null   float64
 48  Director_Tim Burton                                      1136 non-null   float64
 49  Director_Woody Allen                                     1136 non-null   float64
 50  Lead_Actor_Brad Pitt                                     1136 non-null   float64
 51  Lead_Actor_Harrison Ford                                 1136 non-null   float64
 52  Lead_Actor_Johnny Depp                                   1136 non-null   float64
 53  Lead_Actor_Leonardo DiCaprio                             1136 non-null   float64
 54  Lead_Actor_Meryl Streep                                  1136 non-null   float64
 55  Lead_Actor_Robert De Niro                                1136 non-null   float64
 56  Lead_Actor_Robert Downey Jr.                             1136 non-null   float64
 57  Lead_Actor_Robin Williams                                1136 non-null   float64
 58  Lead_Actor_Tom Cruise                                    1136 non-null   float64
 59  Lead_Actor_Tom Hanks                                     1136 non-null   float64
 60  Awards_Best Actor in a Leading Role                      1136 non-null   float64
 61  Awards_Best Actor in a Supporting Role                   1136 non-null   float64
 62  Awards_Best Actress in a Leading Role                    1136 non-null   float64
 63  Awards_Best Actress in a Supporting Role                 1136 non-null   float64
 64  Awards_Best Art Direction-Set Decoration                 1136 non-null   float64
 65  Awards_Best Foreign Language Film                        1136 non-null   float64
 66  Awards_Best Foreign Language Film of the Year            1136 non-null   float64
 67  Awards_Best Motion Picture of the Year                   1136 non-null   float64
 68  Awards_Best Music, Original Song                         1136 non-null   float64
 69  Awards_Best Performance by an Actress in a Leading Role  1136 non-null   float64
 70  Fall                                                     1136 non-null   int64
 71  Spring                                                   1136 non-null   int64
 72  Summer                                                   1136 non-null   int64
 73  Winter                                                   1136 non-null   int64
 74  G                                                        1136 non-null   int64
 75  Not Rated                                                1136 non-null   int64
 76  PG                                                       1136 non-null   int64
 77  PG-13                                                    1136 non-null   int64
 78  R                                                        1136 non-null   int64
 79  Unrated                                                  1136 non-null   int64
 80  Writer_Aaron Sorkin                                      1136 non-null   float64
 81  Writer_Joel Coen                                         1136 non-null   float64
 82  Writer_John Logan                                        1136 non-null   float64
 83  Writer_Lawrence Kasdan                                   1136 non-null   float64
 84  Writer_Paul Thomas Anderson                              1136 non-null   float64
 85  Writer_Pedro Almodóvar                                   1136 non-null   float64
 86  Writer_Quentin Tarantino                                 1136 non-null   float64
 87  Writer_Woody Allen                                       1136 non-null   float64
dtypes: float64(73), int64(15)
memory usage: 781.1 KB

## Split into test sets

In [8]:
X = oscars_data.drop(columns=['metacritic score'])
y = oscars_data['metacritic score']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=27)

In [10]:
X_train.describe()

,Unnamed: 0,runtime (mins),budget,Total_Noms,Director_Avg_Score,Total_Director_Movies,Lead_Actor_Avg_Score,Total_Movies_Lead_Actor,Avg_Rating_by_Genre,Buena Vista Pictures,...,R,Unrated,Writer_Aaron Sorkin,Writer_Joel Coen,Writer_John Logan,Writer_Lawrence Kasdan,Writer_Paul Thomas Anderson,Writer_Pedro Almodóvar,Writer_Quentin Tarantino,Writer_Woody Allen
count,908.000000,908.000000,9.080000e+02,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,...,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000
mean,577.232379,120.633260,4.079082e+07,2.889868,71.654360,3.680617,71.625092,3.460352,72.008471,0.039648,...,0.471366,0.014317,0.006608,0.009912,0.002203,0.005507,0.004405,0.005507,0.006608,0.012115
std,328.623641,22.232035,5.078711e+07,2.632799,11.656586,3.779679,11.070046,3.615411,5.425149,0.195237,...,0.499455,0.118860,0.081065,0.099118,0.046906,0.074043,0.066262,0.074043,0.081065,0.109458
min,0.000000,70.000000,0.000000e+00,1.000000,16.000000,1.000000,28.000000,1.000000,38.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,297.000000,105.000000,1.000000e+07,1.000000,65.333333,1.000000,65.187500,1.000000,70.200000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,583.000000,118.000000,2.300000e+07,2.000000,73.333333,2.000000,72.666667,2.000000,73.604651,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,862.250000,132.000000,5.000000e+07,4.000000,79.083333,4.000000,78.625000,4.000000,75.185185,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1135.000000,224.000000,3.210000e+08,14.000000,100.000000,20.000000,100.000000,19.000000,91.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

X_test.describe()